.banner-sec {
    position: relative;
    z-index: 1;
    height: 700px;
    background-image: url('../../public/slide-2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
}

.head-3 {
    color: #fff;
}

.sub-header{
    font-size: 1rem;
    color: #fff;
    font-weight:300;
    margin-top: -20px;
}
.banner-head{
    margin-left:100px;
    font-size: 4rem;
    font-weight: 900;
}

@media (max-width:699px)  {
    .banner-sec {
      justify-content: center;
    }
    .banner-head {
        margin-left: 0;
        font-size: 2rem;
    }
    .sub-header {
        margin-top: -2px;
    }
}