.contact-sec {
    height: 900px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 200px;
}
.contact-head-container {
    border-left: 3px solid #2eca6a;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.contact-head {
    font-size: 2.5rem;
    font-weight: 400;
}
.contact-para {
    color: #555555;
}