.contact-sec {
    height: 900px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 200px;
}
.contact-head-container {
    border-left: 3px solid #2eca6a;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.contact-head {
    font-size: 2.5rem;
    font-weight: 400;
}
.contact-para {
    color: #555555;
}
.contact-us {
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.contact-card {  
    width: 30%;
    height: 400px;
    background-color: #4bcd7d;
    padding: 10px 20px;
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);

}
.contact-head {
    margin-bottom: .3em;
}
.para {
    margin-bottom: 1em;
}
.phone {
    font-weight:600;
}
.phone-number {
    font-weight: 400;
}

@media  (max-width:600px) {
  .contact-us {
    flex-direction: column;
    align-items: center;
  }
  .contact-card {
    width: 80%;
  }
  .contact-head {
    line-height: 1.3;
  }
}